<div class="om-about">
    <h2 class="om-about__headline">What Online Marketing is about</h2>
    <div class="om-about__content-wrapper">
        <div class="om-about__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/what-online-marketing-is-about'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="What online marketing is about"
            />
        </div>
        <div class="om-about__content">
            <p>
                Online marketing is the practice of leveraging digital-based channels to spread a message about
                products, or services to its potential customers. Its a promotion of brands to connect with customers
                through online tools that generate leads, drive traffic, and boost sales.
            </p>
            <p>Digital Marketing is a <span>MUST</span> nowadays !</p>
            <p>
                Businesses cannot grow healthy or even start without having well-planned online marketing strategy, it
                helps you continue to grow your business and drive more qualified traffic to your brand, making it more
                profitable.
            </p>
        </div>
    </div>
    <div class="om-about__tools-wrapper">
        <h3 class="om-about__secondary-topic">
            There are a number of tools that can be used to build and maintain a solid online marketing, main ones are:
        </h3>
        <div class="om-about__tools">
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--light"></div>
                <span class="om-about__tool-text om-about__tool-text--light">Email Marketing</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--dark"></div>
                <span class="om-about__tool-text om-about__tool-text--dark">Content Marketing</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--light"></div>
                <span class="om-about__tool-text om-about__tool-text--light">Video Marketing</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--dark"></div>
                <span class="om-about__tool-text om-about__tool-text--dark">Social Media Marketing</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--light"></div>
                <span class="om-about__tool-text om-about__tool-text--light">Search Engine Optimization (SEO)</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--dark"></div>
                <span class="om-about__tool-text om-about__tool-text--dark">PPC ( Pay Per Click ) Advertising</span>
            </div>
            <div class="om-about__tool">
                <div class="om-about__circle om-about__circle--light"></div>
                <span class="om-about__tool-text om-about__tool-text--light">Local Search Engine Optimization</span>
            </div>
        </div>
    </div>
</div>
