@use 'colors';
@use 'rwd';

.om-about {
    padding: 24px 0;
    &__headline {
        max-width: 310px;
        margin: 0 auto;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__image {
        max-width: 500px;
        margin: 24px auto;
        img {
            width: 100%;
        }
    }
    &__content {
        padding: 0 16px 20px;
        p {
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
            &:nth-of-type(2) {
                margin: 25px 0;
            }
        }
        span {
            font-weight: 700;
            color: colors.$secondaryThemeColor;
        }
    }
    &__tools-wrapper {
        padding: 28px 16px;
        background-color: colors.$greyColor;
    }
    &__secondary-topic {
        max-width: 600px;
        margin: 0 auto 20px;
        font-size: 20px;
        line-height: 27px;
        font-weight: 700;
        @media screen and (min-width: 600px) {
            text-align: center;
        }
    }
    &__tools {
        display: flex;
        flex-direction: column;
        gap: 26px;
    }
    &__tool {
        display: flex;
        gap: 10px;
        margin: 0 10px;
    }
    &__circle {
        align-self: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        &--light {
            background-color: colors.$secondaryThemeColor;
            -webkit-box-shadow: inset -3px -3px 0px 0px rgba(120, 91, 0, 0.2);
            -moz-box-shadow: inset -3px -3px 0px 0px rgba(120, 91, 0, 0.2);
            box-shadow: inset -3px -3px 0px 0px rgba(120, 91, 0, 0.2);
        }
        &--dark {
            background-color: colors.$mainThemeColor;
            -webkit-box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: inset -3px -3px 0px 0px rgba(0, 0, 0, 0.2);
        }
    }
    &__tool-text {
        align-self: center;
        font-size: 16px;
        line-height: 30px;
        font-weight: 800;
        &--light {
            color: colors.$secondaryThemeColor;
        }
        &--dark {
            color: colors.$mainThemeColor;
        }
    }
}

@include rwd.tabletUp {
    .om-about {
        padding: 30px 0 45px;
        &__headline {
            max-width: 600px;
        }
        &__content-wrapper {
            display: flex;
            margin: 20px 0;
        }
        &__image {
            width: 50%;
            order: 1;
            padding: 0 16px;
        }
        &__content {
            width: 50%;
            order: 0;
        }
        &__tools-wrapper {
            padding: 40px 16px;
        }
        &__secondary-topic {
            margin: 0 auto 50px;
        }
        &__tools {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@include rwd.desktopUp {
    .om-about {
        padding: 45px 0 60px;
        &__headline {
            max-width: 100%;
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__content-wrapper {
            justify-content: space-between;
            max-width: 1300px;
            margin: 45px auto;
        }
        &__content {
            align-self: center;
            p {
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
                &:nth-of-type(2) {
                    margin: 30px 0;
                }
            }
        }
        &__tools-wrapper {
            padding: 52px 16px 88px;
        }
        &__secondary-topic {
            max-width: 1015px;
            margin: 0 auto 75px;
            font-size: 32px;
            line-height: 44px;
        }
        &__tools {
            max-width: 1365px;
            margin: 0 auto;
            gap: 50px 32px;
        }
        &__tool {
            margin: 0;
        }
        &__tool-text {
            font-size: 24px;
        }
    }
}
