<section class="advantages">
    <h2 class="advantages__headline">Advantages of having a well-designed website</h2>
    <div class="advantages__wrapper">
        <div class="advantages__card card-1">
            <div class="advantages__card-headline">
                <h3>Information</h3>
                <div class="advantages__card-icon">
                    <img loading="lazy" src="assets/icons/info.svg" alt="Information" />
                </div>
            </div>
            <p class="advantages__card_description">
                Your website should be informative to the visitor, where he can find a lot of information about your
                company such as: services you offer,how long your company is around etc.
            </p>
        </div>
        <div class="advantages__card card-4">
            <div class="advantages__card-headline">
                <h3>Reviews</h3>
                <div class="advantages__card-icon">
                    <img loading="lazy" src="assets/icons/review.svg" alt="Reviews" />
                </div>
            </div>
            <p class="advantages__card_description">
                Reviews from clients are boosting trust in your company and this will lead to showcasing the
                authenticity and credibility of your brand.
            </p>
        </div>
        <div class="advantages__card card-2">
            <div class="advantages__card-headline">
                <h3>24/7</h3>
                <div class="advantages__card-icon">
                    <img loading="lazy" src="assets/icons/full-day.svg" alt="24/7" />
                </div>
            </div>
            <p class="advantages__card_description">
                As we mentioned before, website is ultimate sales team, its up and running 24/7, providing any
                information needed for customer at any time of the day.
            </p>
        </div>
        <div class="advantages__card card-5">
            <div class="advantages__card-headline">
                <h3>Contact</h3>
                <div class="advantages__card-icon">
                    <img loading="lazy" src="assets/icons/contact.svg" alt="Contact" />
                </div>
            </div>
            <p class="advantages__card_description">
                Well-designed website has many ways to contact your business. E-mail / Linkedin / Phone / Address /
                Social media. The huge advantage is offering your customers a variety of ways to contact your business.
            </p>
        </div>
        <div class="advantages__card card-3">
            <div class="advantages__card-headline">
                <h3>Portfolio</h3>
                <div class="advantages__card-icon">
                    <img loading="lazy" src="assets/icons/portfolio.svg" alt="Portfolio" />
                </div>
            </div>
            <p class="advantages__card_description">
                Including portfolio on your website is a professional way to showcase your work. That will definetely
                help you get new customer, since they can see your results.
            </p>
        </div>
        <div class="advantages__card card-6">
            <div class="advantages__card-headline">
                <h3>FAQ</h3>
                <div class="advantages__card-icon"><img loading="lazy" src="assets/icons/faq.svg" alt="FAQ" /></div>
            </div>
            <p class="advantages__card_description">
                FAQs enable you to deal with specific queries that your customers have about your business.
            </p>
        </div>
    </div>
</section>
