@use 'colors';
@use 'rwd';

.advantages {
    padding: 35px 16px;
    &__headline {
        max-width: 310px;
        margin: 0 auto 24px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__wrapper {
        padding-top: 16px;
    }
    &__card {
        position: relative;
        max-width: 515px;
        width: 100%;
        margin: 0 auto 16px;
        padding: 20px 16px 16px;
        border-radius: 20px;
        background-color: colors.$lightGreyColor;
        &:last-of-type {
            margin-bottom: 0;
        }
        &-headline {
            margin-bottom: 24px;
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
            &::first-letter {
                font-size: 48px;
                line-height: 66px;
            }
        }
        &-icon {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 70px;
            height: 70px;
            img {
                width: 100%;
            }
        }
        &-description {
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
        }
    }
}

@include rwd.tabletUp {
    .advantages {
        max-width: 1200px;
        margin: 0 auto;
        &__wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px 20px;
            max-height: 800px;
        }
        &__card {
            width: calc(50% - 10px);
            margin: 0;
        }
        .card-1 {
            order: 1;
        }
        .card-2 {
            order: 2;
        }
        .card-3 {
            order: 3;
        }
        .card-4 {
            order: 4;
            margin-top: 30px;
        }
        .card-5 {
            order: 5;
        }
        .card-6 {
            order: 6;
        }
    }
}

@include rwd.desktopUp {
    .advantages {
        padding: 75px 16px;
        &__headline {
            min-width: 100%;
            margin: 0 auto 100px;
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__wrapper {
            padding: 16px 70px 0;
            gap: 40px 30px;
            max-height: 1000px;
        }
        &__card {
            position: relative;
            padding: 75px 48px 48px;
            &-headline {
                font-size: 32px;
                line-height: 44px;
                &::first-letter {
                    font-size: 56px;
                    line-height: 77px;
                }
            }
            &-icon {
                top: 48px;
                right: 48px;
                width: 100px;
                height: 100px;
            }
            &-description {
                font-size: 18px;
            }
        }
        .card-4 {
            margin-top: 40px;
        }
    }
}
