<section class="how-we-work">
    <h2 class="how-we-work__headline">How do we work?</h2>
    <div class="how-we-work__content-wrapper">
        <hr class="how-we-work__timeline" />
        <div class="how-we-work__card">
            <div class="how-we-work__card-header">
                <h3>1. Get acquainted</h3>
                <img loading="lazy" src="assets/icons/about-us/get-acquainted.svg" alt="Get acquainted" />
            </div>
            <div class="how-we-work__content">
                <p>First we need to get to know each other and we'd like to know what's your business about.</p>
            </div>
        </div>
        <div class="how-we-work__card">
            <div class="how-we-work__card-header">
                <h3>2. Idea</h3>
                <img loading="lazy" src="assets/icons/about-us/idea.svg" alt="Idea" />
            </div>
            <div class="how-we-work__content">
                <p>
                    We would like to know your idea and what plans do you have regarding developing online presence with
                    us, what your company needs etc.
                </p>
            </div>
        </div>
        <div class="how-we-work__card">
            <div class="how-we-work__card-header">
                <h3>3. Action</h3>
                <img loading="lazy" src="assets/icons/about-us/action.svg" alt="Action" />
            </div>
            <div class="how-we-work__content">
                <p>After terms have been established, we will get to it right away !</p>
            </div>
        </div>
        <div class="how-we-work__card">
            <div class="how-we-work__card-header">
                <h3>4. Grow</h3>
                <img loading="lazy" src="assets/icons/about-us/grow.svg" alt="Grow" />
            </div>
            <div class="how-we-work__content">
                <p>
                    As the time goes, you will see benefits of Kaihok services and we will see growth of your company as
                    well as ours by working together towards success.
                </p>
            </div>
        </div>
        <div class="how-we-work__card">
            <div class="how-we-work__card-header">
                <h3>5. Relationship</h3>
                <img loading="lazy" src="assets/icons/about-us/relationship.svg" alt="Relationship" />
            </div>
            <div class="how-we-work__content">
                <p>
                    We expect to build a long term business relationship with you by providing you high quality
                    services.
                </p>
            </div>
        </div>
    </div>
</section>
