@use 'colors';
@use 'rwd';

.how-we-work {
    padding: 0 16px 40px;
    &__headline {
        max-width: 310px;
        margin: 0 auto 60px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__content-wrapper {
        position: relative;
    }
    &__timeline {
        position: absolute;
        top: -2px;
        left: 50%;
        width: 1px;
        height: 100%;
        border: 0;
        transform: translateX(-50%);
        background-color: #000;
        z-index: 0;
    }
    &__card {
        position: relative;
        margin-bottom: 48px;
        border-radius: 20px;
        background-color: colors.$lightGreyColor;
        z-index: 1;
        &:last-of-type {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: -2px;
            transform: translate(-50%, -100%);
            width: 14px;
            height: 14px;
            border: 3px solid colors.$mainThemeColor;
            border-radius: 50%;
            background-color: colors.$secondaryThemeColor;
            box-sizing: border-box;
        }
        &-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 20px 20px 0 0;
            background-color: colors.$mainThemeColor;
            h3 {
                font-size: 20px;
                line-height: 27px;
                font-weight: 700;
                color: #fff;
            }
            img {
                width: 32px;
            }
        }
    }
    &__content {
        padding: 10px;
        border-radius: 0 0 20px 20px;
        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
        }
    }
}

@include rwd.tabletUp {
    .how-we-work {
        &__content-wrapper {
            max-width: 975px;
            margin: 0 auto;
        }
        &__card {
            width: 80%;
            margin: 0 auto 48px;
        }
    }
}

@include rwd.desktopUp {
    .how-we-work {
        padding: 34px 16px 94px;
        &__headline {
            max-width: 100%;
            margin: 0 auto 100px;
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__content-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &__timeline {
            top: 15px;
            height: calc(100% - 140px);
            border: 0;
            transform: translateX(-50%);
            background-color: #000;
            z-index: 0;
        }
        &__card {
            width: 50%;
            max-width: 450px;
            margin: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
            &:nth-of-type(2n) {
                align-self: flex-end;
            }
            &::before {
                left: auto;
                right: -37.5px;
                top: 15px;
                transform: translate(50%, 0);
            }
            &:nth-of-type(2n)::before {
                left: -37.5px;
                right: auto;
                transform: translate(-50%, 0);
            }
            &-header {
                h3 {
                    font-size: 24px;
                    line-height: 33px;
                }
            }
        }
        &__content {
            p {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
