<section class="design">
    <pwd-banner [deviceType]="deviceType"></pwd-banner>
    <pwd-services-view></pwd-services-view>
    <pwd-advantages-view></pwd-advantages-view>
    <pwd-why-provide-services-view [deviceType]="deviceType"></pwd-why-provide-services-view>
    <pwd-reusable-contact-form [deviceType]="deviceType"></pwd-reusable-contact-form>
</section>
