<div class="services-offer">
    <div class="services-offer__headline-wrapper">
        <h2 class="services-offer__headline"><span class="services-offer__headline--marked">Design</span> Services</h2>
    </div>
    <div class="services-offer__services-wrapper">
        <div class="services-offer__service-wrapper">
            <div class="services-offer__service">
                <div class="services-offer__service-image services-offer__service-image--website">
                    <img
                        [src]="'assets/images/design/services/website-design' | webpSupport: 'png'"
                        alt="Website design"
                    />
                </div>
                <h3 class="services-offer__service-headline">Website design</h3>
                <p class="services-offer__service-description">
                    Well-designed website influences the behavior of visitors, encourages engagement and increases brand
                    awareness. Your website design is a crucial part of your online presence and digital strategy.
                </p>
            </div>
        </div>
        <!-- <div class="services-offer__service-wrapper">
            <div class="services-offer__service">
                <div class="services-offer__service-image services-offer__service-image--business-card">
                    <img
                        loading="lazy"
                        [src]="'assets/images/design/services/business-card-design' | webpSupport: 'png'"
                        alt="Website design"
                    />
                </div>
                <h3 class="services-offer__service-headline">Business card design</h3>
                <p class="services-offer__service-description">
                    Not only business cards contain information about you and your business but also an attractive and
                    thoughtful business card design catches the eye and creates a positive business impression.
                </p>
            </div>
        </div> -->
    </div>
</div>
