@use 'colors';
@use 'rwd';

.services-offer {
    &__headline-wrapper {
        border-radius: 20px 20px 0 0;
        background-color: colors.$mainThemeColor;
    }
    &__headline {
        color: #fff;
    }
    &__service-wrapper {
        padding: 50px 16px 40px;
        &:last-of-type {
            background-color: colors.$lightGreyColor;
        }
    }
    &__service {
        &-image {
            position: relative;
            height: 170px;
            margin: 0 auto;
            img {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                max-height: 100%;
            }
            &--website {
                max-width: 232px;
            }
            &--business-card {
                max-width: 383px;
            }
        }
        &-headline {
            padding: 50px 0 20px;
            font-size: 28px;
            line-height: 38px;
            font-weight: 700;
            text-align: center;
        }
        &-description {
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            text-align: center;
        }
    }
}

@include rwd.tabletUp {
    .services-offer {
        &__services-wrapper {
            display: flex;
            width: 100%;
        }
        &__service-wrapper {
            width: 100%;
        }
        &__service {
            &-image {
                height: 178px;
                img {
                    top: 50%;
                    bottom: auto;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

@include rwd.desktopUp {
    .services-offer {
        &__service-wrapper {
            padding: 0;
        }
        &__service {
            max-width: 420px;
            padding: 0;
            margin: 108px auto 118px;
            &-headline {
                padding: 50px 0 24px;
                font-size: 32px;
                line-height: 44px;
            }
            &-description {
                font-size: 18px;
                line-height: 25px;
            }
        }
    }
}
