<section class="about">
    <div class="about__content-wrapper">
        <div class="about__content-image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/about-us/problem'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Problem"
            />
        </div>
        <div class="about__content">
            <p>
                <strong>If you own a home service business</strong>, have ambitious growth goals, and are looking 
                for an awesome partner to help you measurably improve your online marketing performance and get 
                more leads and sales from the web, you’ve come to the right place.
            </p>
        </div>
    </div>
    <div class="about__card-wrapper">
        <p>
            <strong>In Kaihok</strong> we have team full of professionals working their best to provide your company
            best results possible. What we noticed is that construction companies don't really care about Online
            Marketing and if they do, it is poorly managed. Even basics like having website up and running is too much
            for these companies, when in reality a website is ultimate sales tool which is up 24/7.
        </p>
        <p>Most of the companies are missing on this.</p>
        <strong>Don't make the same mistake.</strong>
    </div>
    <div class="about__content-wrapper">
        <div class="about__content-image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/about-us/solution'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Solution"
            />
        </div>
        <div class="about__content">
            <p><strong>That is why we come to rescue !</strong></p>
            <p>
                We will provide tools and services for your company and make it grow healthy and steady by applying
                online marketing strategies... you dont even have to do it, we have a specialized team to do it for you
                ! Work with us and make that step ahead of your competitors, leave them behind by growing your brand
                awareness online.
            </p>
        </div>
    </div>
</section>
