@use 'colors';
@use 'rwd';

.about {
    padding: 18px 16px;
    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 32px;
        gap: 24px;
    }
    &__content-image {
        width: 245px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    &__content p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
    &__card-wrapper {
        margin: 32px 0 64px;
        padding: 44px 20px;
        border-radius: 20px;
        background-color: colors.$mainThemeColor;
        p {
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            color: #fff;
            &:first-of-type {
                padding-bottom: 25px;
            }
            strong {
                font-size: 28px;
                line-height: 38px;
                font-weight: 800;
                color: colors.$secondaryThemeColor;
            }
        }
        strong {
            font-size: 18px;
            line-height: 25px;
            font-weight: 400;
            color: colors.$secondaryThemeColor;
        }
    }
}

@include rwd.tabletUp {
    .about {
        padding: 36px 32px;
    }
}

@include rwd.desktopUp {
    .about {
        max-width: 1112px;
        margin: 0 auto;
        padding: 46px 32px;
        &__content-wrapper {
            flex-direction: row-reverse;
            justify-content: center;
            padding: 0 50px 20px;
            gap: 80px;
        }
        &__content-image {
            width: 332px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
        &__content p {
            max-width: 600px;
            line-height: 25px;
        }
        &__card-wrapper {
            margin: 20px 0 40px;
            padding: 85px 69px;
            p {
                strong {
                    font-size: 48px;
                    line-height: 66px;
                }
            }
        }
    }
}
