@use 'colors';
@use 'rwd';

.services-offer {
    &__services-wrapper {
        padding: 1px 13px 12px;
    }
    &__service {
        display: flex;
        margin-bottom: 24px;
        img {
            width: 48px;
            height: 44px;
            align-self: center;
        }
        p {
            align-self: center;
            margin: 8px 16px;
            font-size: 20px;
            line-height: 27px;
            font-weight: 800;
        }
    }
}

@include rwd.tabletUp {
    .services-offer {
        &__services-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding-top: 60px;
        }
        &__service {
            width: 50%;
        }
    }
}

@include rwd.desktopUp {
    .services-offer {
        &__services-wrapper {
            max-width: 1000px;
            width: 100%;
            margin: 0 auto;
            padding-top: 105px;
        }
        &__service {
            margin-bottom: 70px;
            img {
                width: 112px;
                height: 102px;
            }
            p {
                font-size: 32px;
                line-height: 43.71px;
            }
        }
    }
}
