<div class="services-offer">
    <div class="services-offer__headline-wrapper">
        <h2 class="services-offer__headline">
            <!-- Our Online Marketing <span class="services-offer__headline--marked">Services</span> -->
            Scope of work
        </h2>
    </div>
    <div class="services-offer__services-wrapper">
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Google Ads Management</p>
        </div>
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Google PPC Advertising</p>
        </div>
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Google Local Ads</p>
        </div>
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Campaign Optimization</p>
        </div>
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Keyword Research</p>
        </div>
        <div class="services-offer__service">
            <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
            <p>Conversion Tracking</p>
        </div>
    </div>
</div>
