<section class="online-marketing">
    <pwd-banner [deviceType]="deviceType"></pwd-banner>
    <pwd-services></pwd-services>
    <pwd-about [deviceType]="deviceType"></pwd-about>
    <pwd-benefits [deviceType]="deviceType"></pwd-benefits>
    <pwd-reusable-contact-form [deviceType]="deviceType"></pwd-reusable-contact-form>
</section>
