<section class="contact">
    <div class="contact__header-wrapper">
        <h1 class="contact__headline">Ready to boost your bussines?</h1>
    </div>
    <div class="contact__form-wrapper">
        <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <h2 class="contact__title">Need a hand? Or a high five? Send us a message.</h2>
            <div class="contact__input-wrapper">
                <input [class.error]="getErrors('name')" formControlName="name" type="text" placeholder="Name" />
                <span *ngIf="getErrors('name')" class="contact__input-error">Required field</span>
            </div>
            <div class="contact__input-wrapper">
                <input
                    [class.error]="getErrors('email', true)"
                    formControlName="email"
                    type="email"
                    placeholder="Email"
                />
                <span *ngIf="getErrors('email', true)" class="contact__input-error"
                    >{{ contactForm.get('email').errors?.required ? 'Required' : 'Invalid' }} field</span
                >
            </div>
            <div class="contact__input-wrapper">
                <input
                    [class.error]="getErrors('subject')"
                    formControlName="subject"
                    type="text"
                    placeholder="Subject"
                />
                <span *ngIf="getErrors('subject')" class="contact__input-error">Required field</span>
            </div>
            <div class="contact__input-wrapper">
                <input formControlName="companyName" type="text" placeholder="Company name (optional)" />
            </div>
            <div class="contact__input-wrapper">
                <textarea
                    [class.error]="getErrors('message')"
                    formControlName="message"
                    placeholder="How can we help?"
                ></textarea>
                <span *ngIf="getErrors('message')" class="contact__input-error">Required field</span>
            </div>
            <button *ngIf="!formSending" type="submit" class="primary-btn contact__submit">Submit</button>
            <pwd-progress-spinner *ngIf="formSending"></pwd-progress-spinner>
        </form>
        <div class="contact__image">
            <img
                loading="lazy"
                *ngIf="deviceType !== 'DESKTOP_UP'"
                [src]="'assets/images/contact-form/collaboration' | webpSupport: 'png'"
                alt="Collaboration"
            />
            <img
                loading="lazy"
                class="contact__image-collaboration-left"
                *ngIf="deviceType === 'DESKTOP_UP'"
                [src]="'assets/images/contact-form/collaboration-1' | webpSupport: 'png'"
                alt="Collaboration"
            />
            <img
                loading="lazy"
                class="contact__image-collaboration-right"
                *ngIf="deviceType === 'DESKTOP_UP'"
                [src]="'assets/images/contact-form/collaboration-2' | webpSupport: 'png'"
                alt="Collaboration"
            />
            <img
                loading="lazy"
                class="contact__image-icon-right"
                *ngIf="deviceType === 'DESKTOP_UP'"
                src="assets/icons/arrows-1.svg"
                alt="Arrow"
            />
            <img
                loading="lazy"
                class="contact__image-icon-left"
                *ngIf="deviceType === 'DESKTOP_UP'"
                src="assets/icons/arrows-2.svg"
                alt="Arrow"
            />
        </div>
    </div>
</section>
