@use 'colors';
@use 'rwd';

.contact {
    padding: 57px 0;
    &__header-wrapper {
        height: 227px;
        padding: 24px 30px;
        background-color: colors.$mainThemeColor;
    }
    &__headline {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        color: #fff;
    }
    &__form {
        position: relative;
        padding: 28px 12px;
        margin: -100px 16px 46px;
        border-radius: 20px;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        z-index: 1;
    }
    &__title {
        padding: 0 28px 8px;
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        text-align: center;
    }
    &__input-wrapper {
        margin: 16px 0;
        input,
        textarea {
            width: 100%;
            padding: 16px;
            border: 1px solid rgba(50, 49, 47, 0.38);
            border-radius: 8px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            outline: none;
            &:focus {
                border-color: transparent;
                -webkit-box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
                -moz-box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
                box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
            }
        }
        textarea {
            height: 161px;
            overflow-y: auto;
            resize: none;
        }
        .error {
            outline: solid 2px colors.$errorColor;
        }
    }
    &__input-error {
        font-weight: 700;
        color: colors.$errorColor;
    }
    &__submit {
        width: 100%;
    }
    &__image {
        width: 291px;
        margin: 0 auto;
    }
}

pwd-progress-spinner {
    display: flex;
    justify-content: center;
}

@include rwd.tabletUp {
    .contact {
        &__form {
            width: 80%;
            max-width: 761px;
            padding: 42px;
            margin: -100px auto 46px;
        }
    }
}

@include rwd.desktopUp {
    .contact {
        padding: 113px 0 76px;
        &__header-wrapper {
            height: 330px;
            padding: 66px 30px;
        }
        &__headline {
            margin: 0;
            font-size: 48px;
            line-height: 66px;
        }
        &__form-wrapper {
            position: relative;
        }
        &__form {
            width: 45%;
            max-width: 761px;
            padding: 60px;
            margin: -160px auto 0;
        }
        &__title {
            padding: 0 28px 30px;
            font-size: 24px;
            line-height: 30px;
        }
        &__input-wrapper {
            margin: 16px 0;
            input,
            textarea {
                font-size: 18px;
                line-height: 25px;
            }
        }
        &__image {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            max-width: 1600px;
            transform: translateX(-50%);
        }
        &__image-collaboration-left,
        &__image-collaboration-right {
            position: absolute;
            width: 271px;
        }
        &__image-collaboration-left {
            top: 200px;
        }
        &__image-collaboration-right {
            top: 75px;
            right: 0;
        }
        &__image-icon-left,
        &__image-icon-right {
            position: absolute;
            width: 400px;
        }
        &__image-icon-left {
            top: 305px;
            left: 275px;
        }
        &__image-icon-right {
            top: 225px;
            right: 275px;
        }
    }
}

@include rwd.customUp(1200px) {
    .contact {
        &__form {
            width: 50%;
        }
    }
}

@include rwd.customUp(1350px) {
    .contact {
        &__form {
            width: 60%;
        }
    }
}
