@use 'colors';
@use 'mixins';
@use 'rwd';

.who {
    @include mixins.center-all;
    flex-direction: column;
    padding: 0 16px 40px 16px;
    color: colors.$mainThemeColor;
    position: relative;

    &-photo {
        position: absolute;
        top: 65px;
        width: 240px;
        img {
            width: 100%;
        }
    }
}

.who-text {
    .who-title {
        font-size: 28px;
        font-weight: 800;
        padding-bottom: 300px;
        display: inline-block;
    }

    &-box {
        padding-bottom: 25px;
        font-size: 16px;
        .who-desc {
            display: inline-block;
            line-height: 30px;
        }
    }
}

.who-button {
    background: colors.$secondaryThemeColor;
    font-weight: 800;
    color: #fff;
    width: 210px;
}

@include rwd.tabletUp {
    .who-box {
        max-width: 850px;
    }
}

@include rwd.desktopUp {
    .who {
        margin: 0 auto;
        max-width: 1280px;
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
        padding: 70px 0 70px 0;

        &-photo {
            position: unset;
            width: 610px;
            img {
                width: 100%;
            }
        }
    }

    .who-text {
        max-width: 490px;
        .who-title {
            font-size: 48px;
            padding-bottom: 50px;
        }

        &-box {
            padding-bottom: 50px;
            font-size: 18px;
        }
    }
}
