<section pwdFadeWhenAvailable class="who" id="about-us">
    <div class="who-box">
        <div class="who-text">
            <h2 class="who-title">Who are we?</h2>
            <div class="who-text-box">
                <span class="who-desc"> Kaihok is a Digital Marketing & Design agency. </span>
                <span class="who-desc">
                    At Kaihok we work together to make your company more profitable by using modern ways of advertising.
                </span>
                <span class="who-desc">
                    We use our proven formula that have worked for other clients. We always deliver and fulfill our customer's 
                    expectations, bringing them more leads,clients and making them grow healthy and steady. We will make sure 
                    your company is on top of the searches and we will help you scale your home service business to the next level.
                </span>
            </div>
            <a class="who-button primary-btn" routerLink="about-us">About Us</a>
        </div>
    </div>

    <div class="who-photo">
        <img
            loading="lazy"
            [src]="
                'assets/images/homepage/who-are-we/coffee'
                    | responsiveImage: deviceType:[devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                    | webpSupport: 'png'
            "
            alt="employees drink coffee"
        />
    </div>
</section>
