<section class="services">
    <div class="services-box">
        <div class="container">
            <div class="services-intro">
                <h2 class="services-intro-title">Services</h2>
                <span class="services-intro-desc">What can we provide to make your company even more profitable?</span>
            </div>

            <div class="service-elem">
                <div class="service-elem-icon">
                    <img
                        loading="lazy"
                        [src]="'assets/images/homepage/services/online-marketing' | webpSupport: 'png'"
                        alt="online marketing"
                        class="online"
                    />
                </div>
                <span class="service-elem-title">Online Marketing</span>
                <ul class="service-elem-list">
                    <li class="service-elem-list-item">Google Ads Management</li>
                    <!-- <li class="service-elem-list-item">PPC Advertising</li>
                    <li class="service-elem-list-item">Local SEO</li>
                    <li class="service-elem-list-item">Email Marketing</li>
                    <li class="service-elem-list-item service-elem-list-item--no-list-style">...many more!</li> -->
                </ul>
                <a class="service-elem-button primary-btn" routerLink="services/online-marketing">See more</a>
            </div>

            <div class="service-elem">
                <div class="service-elem-icon">
                    <img
                        loading="lazy"
                        [src]="'assets/images/homepage/services/design' | webpSupport: 'png'"
                        alt="website design"
                        class="design"
                    />
                </div>
                <span class="service-elem-title">Design</span>
                <ul class="service-elem-list">
                    <li class="service-elem-list-item">Website Design</li>
                    <!-- <li class="service-elem-list-item">Business Card Design</li> -->
                </ul>
                <a class="service-elem-button primary-btn" routerLink="services/design">See more</a>
            </div>

            <!-- <div class="service-elem">
                <div class="service-elem-icon">
                    <img
                        loading="lazy"
                        [src]="'assets/images/homepage/services/social-media-marketing' | webpSupport: 'png'"
                        alt="social media marketing"
                        class="social-media"
                    />
                </div>
                <span class="service-elem-title">Social Media Marketing</span>
                <ul class="service-elem-list">
                    <li class="service-elem-list-item">Facebook</li>
                    <li class="service-elem-list-item">TikTok</li>
                    <li class="service-elem-list-item">Houzz</li>
                    <li class="service-elem-list-item">Instagram</li>
                    <li class="service-elem-list-item">Linkedin</li>
                    <li class="service-elem-list-item">Social Media Ads</li>
                </ul>
                <a class="service-elem-button primary-btn" routerLink="services/social-media-marketing"> See more </a>
            </div> -->
        </div>
    </div>
</section>
