@use 'colors';
@use 'mixins';
@use 'rwd';

.services {
    margin: 0 auto;
    position: relative;
    min-height: 920px;
    max-width: 850px;

    &-box {
        width: 100%;
        position: absolute;
        padding: 0 16px;
        top: -65px;
    }
}

.container {
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.25);
}

.services-intro {
    @include mixins.center-all;
    flex-direction: column;
    background: colors.$secondaryThemeColor;
    border-radius: 20px 20px 0 0;
    color: colors.$mainThemeColor;

    &-title {
        font-size: 28px;
        font-weight: 800;
        padding: 26px 0 0 0;
    }

    &-desc {
        font-size: 16px;
        font-weight: 500;
        padding: 8px 0 22px 0;
        line-height: 25px;
        text-align: center;
        max-width: 230px;
    }
}

.service-elem {
    @include mixins.center-ver;
    flex-direction: column;
    gap: 25px;
    background: colors.$lightGreyColor;
    padding: 24px 0;
    &-icon img {
        height: 130px;
        &.online {
            width: 238px;
        }
        &.design {
            width: 181px;
        }
        &.social-media {
            width: 186px;
        }
    }

    &:nth-child(3) {
        background: white;

        .service-elem-button {
            background: colors.$secondaryThemeColor;
        }
    }
    &:nth-child(2n) {
        .service-elem-button:hover {
            background-color: colors.$secondaryThemeColor !important;
        }
    }

    &-title {
        font-weight: 800;
        font-size: 24px;
        color: colors.$mainThemeColor;
    }

    &-list {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        &-item--no-list-style {
            list-style-type: none;
        }
    }

    &-button {
        background: colors.$mainThemeColor;
        font-weight: 800;
        font-size: 16px;
        color: #fff;
        width: 210px;
    }
}

@include rwd.desktopUp {
    .services {
        max-width: 1280px;
        min-height: 650px;

        &-box {
            padding: 0;
            top: -130px;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        overflow: hidden;
        height: 770px;
    }

    .services-intro {
        border-radius: unset;
        width: 50%;

        &-title {
            font-size: 48px;
        }
    }

    .service-elem {
        width: 50%;
        justify-content: center;
        padding-top: 150px;

        &-list {
            height: 200px;
        }
    }
}
