<nav class="header">
    <div class="header__wrapper">
        <a class="header__logo" routerLink="/"><img loading="lazy" src="assets/icons/logo.png" alt="Kaihok" /></a>
        <svg
            *ngIf="!isDesktopUp"
            class="header__hamburger"
            [class.header__hamburger--expanded]="isMenuOpen"
            width="32"
            height="33"
            viewBox="0 0 32 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            (click)="onMenuClick()"
        >
            <path
                class="line line--top"
                d="M5 8.5H27"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                class="line line--center"
                d="M5 16.5H27"
                stroke="#E0AA00"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
            <path
                class="line line--bottom"
                d="M5 24.5H27"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            />
        </svg>
        <ul *ngIf="isDesktopUp" class="desktop-menu" [class.mobile-menu--opened]="isMenuOpen">
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="/"
                    fragment="services"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >Services</a
                >
            </li>
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="/"
                    fragment="professions"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >Who do we work with</a
                >
            </li>
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="/"
                    fragment="about-us"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >About us</a
                >
            </li>
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="/"
                    fragment="why-us"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >Why us</a
                >
            </li>
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="/"
                    fragment="faq"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >FAQ</a
                >
            </li>
            <li class="desktop-menu__item">
                <a
                    class="desktop-menu__link"
                    routerLink="contact"
                    routerLinkActive="desktop-menu__link--active"
                    [routerLinkActiveOptions]="activeRouteMatchOptions"
                    (click)="closeMenu()"
                    >Contact</a
                >
            </li>
        </ul>
    </div>
</nav>

<ul #mobileMenu *ngIf="!isDesktopUp" class="mobile-menu" [class.mobile-menu--opened]="isMenuOpen">
    <li class="mobile-menu__item">
        <a
            class="mobile-menu__link"
            routerLink="/"
            fragment="services"
            routerLinkActive="mobile-menu__link--active"
            [routerLinkActiveOptions]="activeRouteMatchOptions"
            (click)="closeMenu()"
            >Services</a
        >
    </li>
    <li class="mobile-menu__item">
        <a
            class="mobile-menu__link"
            routerLink="/"
            fragment="professions"
            routerLinkActive="mobile-menu__link--active"
            [routerLinkActiveOptions]="activeRouteMatchOptions"
            (click)="closeMenu()"
            >Who do we work with</a
        >
    </li>
    <li class="mobile-menu__item">
        <a
            class="mobile-menu__link"
            routerLink="/"
            fragment="about-us"
            routerLinkActive="mobile-menu__link--active"
            [routerLinkActiveOptions]="activeRouteMatchOptions"
            (click)="closeMenu()"
            >About us</a
        >
    </li>
    <li class="mobile-menu__item">
        <a
            class="mobile-menu__link"
            routerLink="/"
            fragment="why-us"
            routerLinkActive="mobile-menu__link--active"
            [routerLinkActiveOptions]="activeRouteMatchOptions"
            (click)="closeMenu()"
            >Why us</a
        >
    </li>
    <li class="mobile-menu__item">
        <a
            class="mobile-menu__link"
            routerLink="/"
            fragment="faq"
            routerLinkActive="mobile-menu__link--active"
            [routerLinkActiveOptions]="activeRouteMatchOptions"
            (click)="closeMenu()"
            >FAQ</a
        >
    </li>
    <li class="mobile-menu__item">
        <a class="mobile-menu__link" routerLink="contact" (click)="closeMenu()">Contact</a>
    </li>
</ul>
