@use 'colors';
@use 'mixins';
@use 'rwd';

.header {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 57px;
    padding: 0 16px;
    background: colors.$mainThemeColor;
    z-index: 10;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__logo {
        display: flex;
        width: 75px;
        img {
            width: 75px;
            height: 42.23px;
            vertical-align: middle;
        }
    }
    &__hamburger {
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
        .line {
            transition: transform 0.3s, opacity 0.2s;
            &--top,
            &--center {
                transform-origin: center;
            }
        }
        &--expanded {
            .line {
                &--top {
                    transform: rotate(-45deg) translateY(8px);
                }
                &--center {
                    transform: rotate(45deg);
                }
                &--bottom {
                    opacity: 0;
                }
            }
        }
    }
}

.mobile-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 35px;
    min-height: calc(100vh - 57px);
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    padding: 32px 16px;
    background-color: colors.$mainThemeColor;
    transition: transform 0.3s;
    z-index: 9;
    &--opened {
        transform: translateY(57px);
    }
    &__item {
        list-style: none;
    }
    &__link {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &--active {
            color: colors.$secondaryThemeColor;
        }
    }
}
.active-link {
    color: colors.$secondaryThemeColor;
}

@include rwd.tabletUp {
    .header {
        &__wrapper {
            max-width: 820px;
            margin: 0 auto;
        }
    }
}

@include rwd.desktopUp {
    .header {
        height: 113px;
        &__wrapper {
            max-width: 1280px;
        }
        &__logo {
            width: 121px;
            img {
                width: 121px;
                height: 68.13px;
            }
        }
    }

    .desktop-menu {
        display: flex;
        align-content: center;
        gap: 32px;
        &__item {
            align-self: center;
            border-bottom: 2px solid colors.$mainThemeColor;
            list-style: none;
            cursor: pointer;
        }
        &__link {
            font-size: 24px;
            line-height: 33px;
            font-weight: 500px;
            color: #fff;
            text-decoration: none;
            transition: 0.15s ease-in;
            &:hover {
                color: colors.$secondaryThemeColor;
            }
            &--active {
                color: colors.$secondaryThemeColor;
            }
        }
    }
}
