<div class="contact">
    <div class="contact__image-container">
        <div class="contact__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/contact-form/contact-us'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="What online marketing is about"
            />
        </div>
        <h2 class="contact__headline">Ready to boost your bussines?</h2>
    </div>
    <form class="contact__form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <h3 class="contact__form-title">Send us a message</h3>
        <div class="contact__input-wrapper">
            <input [class.error]="getErrors('name')" formControlName="name" type="text" placeholder="Name" />
            <span *ngIf="getErrors('name')" class="contact__input-error">Required field</span>
        </div>
        <div class="contact__input-wrapper">
            <input [class.error]="getErrors('email', true)" formControlName="email" type="email" placeholder="Email" />
            <span *ngIf="getErrors('email', true)" class="contact__input-error"
                >{{ contactForm.get('email').errors?.required ? 'Required' : 'Invalid' }} field</span
            >
        </div>
        <div class="contact__input-wrapper">
            <input [class.error]="getErrors('subject')" formControlName="subject" type="text" placeholder="Subject" />
            <span *ngIf="getErrors('subject')" class="contact__input-error">Required field</span>
        </div>
        <div class="contact__input-wrapper">
            <input formControlName="companyName" type="text" placeholder="Company name (optional)" />
        </div>
        <div class="contact__input-wrapper">
            <textarea
                [class.error]="getErrors('message')"
                formControlName="message"
                placeholder="How can we help?"
            ></textarea>
            <span *ngIf="getErrors('message')" class="contact__input-error">Required field</span>
        </div>
        <button *ngIf="!formSending" type="submit" class="primary-btn contact__submit">Submit</button>
        <pwd-progress-spinner *ngIf="formSending"></pwd-progress-spinner>
    </form>
</div>
