@use 'colors';
@use 'rwd';

.contact {
    margin: 0 16px 50px;
    padding: 35px 8px 33px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25);
    &__image-container {
        padding: 0 10px;
    }
    &__image {
        img {
            width: 100%;
        }
    }
    &__headline {
        padding: 36px 0 28px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
    }
    &__form {
        padding: 0 8px;
    }
    &__form-title {
        margin: 8px 0;
        font-size: 24px;
        line-height: 33px;
        font-weight: 800;
        text-align: center;
        color: colors.$secondaryThemeColor;
    }
    &__input-wrapper {
        margin: 8px 0;
        input,
        textarea {
            width: 100%;
            padding: 16px;
            border: 1px solid rgba(50, 49, 47, 0.38);
            border-radius: 8px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            outline: none;
            &:focus {
                border-color: transparent;
                -webkit-box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
                -moz-box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
                box-shadow: 0px 0px 0px 2px colors.$secondaryThemeColor;
            }
        }
        textarea {
            height: 161px;
            overflow-y: auto;
            resize: none;
        }
        .error {
            outline: solid 2px colors.$errorColor;
        }
    }
    &__input-error {
        font-weight: 700;
        color: colors.$errorColor;
    }
    &__submit {
        width: 100%;
    }
}

pwd-progress-spinner {
    display: flex;
    justify-content: center;
}

@include rwd.tabletUp {
    .contact {
        &__form {
            width: 50%;
            margin: 0 auto;
        }
    }
}

@include rwd.desktopUp {
    .contact {
        display: flex;
        justify-content: space-between;
        gap: 100px;
        width: 95%;
        max-width: 1315px;
        margin: 0 auto 125px;
        padding: 90px 75px 90px 125px;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25);
        &__image-container {
            display: flex;
            flex-direction: column-reverse;
            align-self: center;
            width: 50%;
        }
        &__image {
            max-width: 570px;
        }
        &__headline {
            padding: 0 0 80px;
            font-size: 36px;
            line-height: 49px;
            text-align: left;
        }
        &__form {
            align-self: center;
            padding: 0 32px;
        }
        &__form-title {
            margin: 12px 0;
            text-align: left;
        }
    }
}

@media screen and (min-width: 1315px) {
    .contact {
        margin: 0 auto 125px;
    }
}
