@use 'colors';
@use 'mixins';
@use 'rwd';

.faq-answer {
    padding: 20px 10px;
    max-width: 700px;
}

.hidden {
    display: none;
}

.faq-box {
    padding: 50px 16px;
}

.faq-intro {
    &-title {
        font-size: 28px;
        font-weight: 800;
    }

    &-photo {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.faq-question-box {
    padding: 5px 0;
    cursor: pointer;
}

.faq-question {
    @include mixins.center-ver;
    justify-content: space-between;
    background: colors.$lightGreyColor;
    border-radius: 8px;
    padding: 16px;

    span {
        display: inline-block;
        max-width: 200px;
        font-size: 16px;
    }

    &-icon {
        @include mixins.center-all;
        height: 20px;
        min-height: 20px;
        width: 20px;
        min-width: 20px;
        background: colors.$secondaryThemeColor;
        border-radius: 50%;
        color: colors.$mainThemeColor;
        font-size: 20px;
    }

    &:hover {
        background: #d3d3d3;
    }
}

@include rwd.tabletUp {
    .faq-box {
        max-width: 850px;
        width: 95%;
        margin: 0 auto;
    }
    .faq-question {
        span {
            max-width: unset;
        }
    }
}

@include rwd.desktopUp {
    .faq-box {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px 0;
    }

    .faq-questions {
        margin-top: 60px;
    }

    .faq-intro {
        &-title {
            font-size: 48px;
        }

        &-photo {
            img {
                width: 90%;
            }
        }
    }

    .faq-question {
        @include mixins.center-ver;
        justify-content: space-between;
        background: colors.$lightGreyColor;
        border-radius: 8px;
        padding: 16px;
        cursor: pointer;

        span {
            font-size: 24px;
            font-weight: 500;
        }

        &-icon {
            height: 30px;
            min-height: 30px;
            min-width: 30px;
            width: 30px;
            font-size: 30px;
        }
    }
}
