<section pwdFadeWhenAvailable id="faq" class="faq">
    <div class="faq-box">
        <div class="faq-intro">
            <h2 class="faq-intro-title">FAQ</h2>
            <div class="faq-intro-photo">
                <img
                    loading="lazy"
                    [src]="
                        'assets/images/homepage/faq/searching-faq'
                            | responsiveImage
                                : deviceType
                                : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                            | webpSupport: 'png'
                    "
                    alt="searching"
                />
            </div>
        </div>

        <div class="faq-questions">
            <div class="faq-question-box" (click)="showAnswer(1)">
                <div class="faq-question">
                    <span>What do you specialize in?</span>
                    <div class="faq-question-icon">+</div>
                </div>
                <div class="faq-answer" [ngClass]="showAnswerId === 1 ? '' : 'hidden'">
                    We specialize in Google Ads Management and designing landing pages specifically built for your campaigns.
                </div>
            </div>

            <div class="faq-question-box" (click)="showAnswer(2)">
                <div class="faq-question">
                    <span>Why do my company need KAIHOK services?</span>
                    <div class="faq-question-icon">+</div>
                </div>
                <div class="faq-answer" [ngClass]="showAnswerId === 2 ? '' : 'hidden'">
                    Your company will benefit from our services, we are trying to fill that lack of knowledge about online 
                    marketing by bringing together professional team working for you around the clock. We will deliver 
                    high-end results for your company.
                </div>
            </div>

            <div class="faq-question-box" (click)="showAnswer(3)">
                <div class="faq-question">
                    <span>How much do your services cost?</span>
                    <div class="faq-question-icon">+</div>
                </div>
                <div class="faq-answer" [ngClass]="showAnswerId === 3 ? '' : 'hidden'">
                    Please contact us to get a exact price of services, since every business need different services so
                    prices may vary.
                </div>
            </div>

            <div class="faq-question-box" (click)="showAnswer(4)">
                <div class="faq-question">
                    <span>How do you charge for your services?</span>
                    <div class="faq-question-icon">+</div>
                </div>
                <div class="faq-answer" [ngClass]="showAnswerId === 4 ? '' : 'hidden'">
                    Online Marketing services goes for monthly subscription, meaning that every month you will have to 
                    pay certain amount of money to be able to benefit from our services. Design services paid only once.
                </div>
            </div>

            <div class="faq-question-box" (click)="showAnswer(5)">
                <div class="faq-question">
                    <span>How long does a website design usually take to complete?</span>
                    <div class="faq-question-icon">+</div>
                </div>
                <div class="faq-answer" [ngClass]="showAnswerId === 5 ? '' : 'hidden'">
                    Usually it takes 4 up to 14 days to finish website design, depending on the size of the project,
                    simple websites require less time than more complicated websites.
                </div>
            </div>
        </div>
    </div>
</section>
