<header class="services-banner">
    <div class="services-banner__container">
        <div class="services-banner__content-wrapper">
            <pwd-services-navigation-menu
                [currentRoute]="currentRoute"
                (routeChangeEmitter)="routeChangeListener($event)"
            ></pwd-services-navigation-menu>
            <h1 class="services-banner__headline">
                Why do you need website<span class="services-banner__headline--question-mark">?</span>
            </h1>
            <p class="services-banner__question-summary">Website...?</p>
            <p class="services-banner__description services-banner__description--space">Essential!</p>
            <p class="services-banner__description services-banner__description--space">Why?</p>
            <p class="services-banner__description">
                Nowadays it is unthinkable to have a business that is not active online. Less than 50% 
                of small businesses have a website. The number seems shocking when you consider people 
                spend around 6 hours in front of their computers every day. In fact, around 45% of small 
                business owners say they do not need a website for their company, meaning that they are 
                not aware of its benefits. The challenges a local businesses faces on a daily basis are 
                usually the result of unforeseen complexities that often arise at work, a website is a 
                business asset that is 100% in your control. Most importantly, local businesses have not 
                adopted such a pace. This is a point that you can work on.
            </p>
            <a class="primary-btn services-banner__button" routerLink="../../contact">Send Us a message</a>
        </div>
        <div class="services-banner__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/design/design-services'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt=""
            />
        </div>
    </div>
</header>
