<section class="main">
    <pwd-hero-view [deviceType]="deviceType"></pwd-hero-view>
    <pwd-services-view></pwd-services-view>
    <pwd-professions-view [deviceType]="deviceType"></pwd-professions-view>
    <pwd-who-are-we-view [deviceType]="deviceType"></pwd-who-are-we-view>
    <pwd-why-us-view></pwd-why-us-view>
    <pwd-faq-view [deviceType]="deviceType"></pwd-faq-view>
</section>
