@use 'colors';
@use 'rwd';

.services-nav {
    display: inline-block;
    min-width: 310px;
    padding-top: 12px;
    position: relative;
    &__current-route {
        font-size: 20px;
        line-height: 32px;
        font-weight: 600;
        cursor: pointer;
        img {
            margin-left: 30px;
        }
    }
    &__links-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 13px;
        padding: 16px;
        border-top: 1px solid colors.$mainThemeColor;
        background-color: #fff;
        visibility: hidden;
        z-index: 2;
        a {
            font-size: 20px;
            line-height: 32px;
            font-weight: 600;
            visibility: hidden;
            text-decoration: none;
            transition: 0.2s color ease;
            cursor: pointer;
            &:hover {
                color: colors.$secondaryThemeColor;
            }
        }
        &--opened {
            visibility: visible;
            a {
                visibility: visible;
            }
        }
    }
}

@include rwd.desktopUp {
    .services-nav {
        &__current-route {
            font-size: 24px;
        }
        &__links-container {
            a {
                font-size: 24px;
            }
        }
    }
}
