<div class="services-nav">
    <div class="services-nav__current-route" (click)="onNavOpen()">
        {{ currentRoute }} <img src="assets/icons/arrow-bottom.svg" alt="arrow" />
    </div>
    <div class="services-nav__links-container" [class.services-nav__links-container--opened]="navOpen">
        <a (click)="routeChangeEmitter.emit('/services/online-marketing')">Online Marketing</a>
        <a (click)="routeChangeEmitter.emit('/services/design')">Design</a>
        <!-- <a (click)="routeChangeEmitter.emit('/services/social-media-marketing')">Social Media Marketing</a> -->
    </div>
</div>
