<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__headline-wrapper">
            <!-- <h1 class="hero__title hero__title--main">We help home service businesses consistently generate new exclusive clients.</h1> -->
            <h2 class="hero__title hero__title--secondary">We help home service businesses consistently generate new exclusive clients.</h2>
            <div class="hero__description">
                The world has gone digital, let us generate high converting leads for your home service business.
            </div>
            <a class="hero__btn primary-btn" routerLink="contact">Contact Us</a>
        </div>
        <div class="hero__images-container">
            <div class="hero__main-photo">
                <img
                    [src]="
                        'assets/images/homepage/hero/hero-phone'
                            | responsiveImage
                                : deviceType
                                : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                            | webpSupport: 'png'
                    "
                    alt="social media"
                />
            </div>
            <div class="hero__social-icons hero__social-icons--twitter">
                <img loading="lazy" src="assets/icons/hero-twitter.svg" alt="twitter" />
            </div>
            <div class="hero__social-icons hero__social-icons--insta">
                <img loading="lazy" src="assets/icons/hero-insta.svg" alt="instagram" />
            </div>
            <div class="hero__social-icons hero__social-icons--fb">
                <img loading="lazy" src="assets/icons/hero-fb.svg" alt="facebook" />
            </div>
        </div>
    </div>
    <div id="services"></div>
</section>
