@use 'colors';
@use 'mixins';
@use 'rwd';

.hero {
    width: 100%;
    padding: 60px 16px 80px;
    background: colors.$mainThemeColor;
    color: #fff;
    &__headline-wrapper {
        padding-bottom: 70px;
        padding-top: 25px;
    }
    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        &--main {
            margin-bottom: 4px;
            letter-spacing: 0.13em;
            text-shadow: 1.5px 1.5px 0px #fff, -1.5px -1.5px 0px #fff, -1.5px 1.5px 0px #fff, 1.5px -1.5px 0px #fff;
        }
        &--secondary {
            color: #fff;
        }
    }
    &__description {
        padding: 16px 0;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: #fff;
    }
    &__btn {
        width: 210px;
        &:hover {
            color: colors.$mainThemeColor;
            background-color: #fff !important;
        }
    }
    &__images-container {
        position: relative;
        max-width: 300px;
        margin: 0 auto;
    }
    &__main-photo {
        width: 203px;
        margin: 0 auto;
        img {
            width: 203px;
            height: 394px;
        }
    }
    &__social-icons {
        position: absolute;
        width: 54px;
        img {
            width: 100%;
        }
        &--twitter {
            top: 185px;
            left: 10px;
            img {
                width: 51.33px;
                height: 52.05px;
            }
        }
        &--insta {
            top: -5px;
            img {
                width: 53.73px;
                height: 53.16px;
            }
        }
        &--fb {
            top: 35px;
            right: 5px;
            img {
                width: 53.34px;
                height: 51.75px;
            }
        }
    }
}

@include rwd.tabletUp {
    .hero {
        &__wrapper {
            max-width: 1150px;
            width: 100%;
            margin: 0 auto;
            @include mixins.center-all;
            flex-direction: column;
            justify-content: space-between;
        }
        &__headline-wrapper {
            max-width: 860px;
        }
        &__title--main {
            font-size: 56px;
            line-height: 76px;
            margin-bottom: 0;
            letter-spacing: normal;
        }
        &__title--secondary {
            font-size: 48px;
            line-height: 66px;
        }
        &__description {
            padding: 40px 0;
            max-width: 580px;
            font-size: 24px;
            line-height: 33px;
        }
        &__main-photo {
            width: 366px;
            img {
                width: 366px;
                height: 710px;
            }
        }
        &__social-icons {
            width: 76px;
            &--twitter {
                top: 232px;
                left: 388px;
                img {
                    width: 72.77px;
                    height: 73.79px;
                }
            }
            &--insta {
                top: 360px;
                left: -111px;
                img {
                    width: 76.17px;
                    height: 75.36px;
                }
            }
            &--fb {
                top: 60px;
                right: 290px;
                img {
                    width: 75.61px;
                    height: 73.36px;
                }
            }
        }
    }
}

@include rwd.desktopUp {
    .hero {
        padding-top: 113px;
        padding-bottom: 150px;
        &__headline-wrapper {
            width: 54%;
        }
        &__wrapper {
            flex-direction: row;
        }
        &__images-container {
            margin: 0;
            max-width: 500px;
            width: 42%;
        }
        &__social-icons {
            &--twitter {
                top: 220px;
                left: -50px;
            }
            &--insta {
                top: 340px;
                left: 0;
            }
            &--fb {
                top: 80px;
                right: -10px;
            }
        }
    }
}

@include rwd.customUp(1400px) {
    .hero {
        &__wrapper {
            max-width: 1280px;
        }
    }
}
