@use 'colors';
@use 'rwd';

.services-offer {
    position: relative;
    margin: -145px 16px 14px;
    border-radius: 20px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    z-index: 1;
    &__headline-wrapper {
        padding: 39px 18px;
    }
    &__headline {
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &--marked {
            color: colors.$secondaryThemeColor;
        }
    }
}

@include rwd.tabletUp {
    .services-offer {
        margin: -145px 45px 30px;
    }
}

@include rwd.desktopUp {
    .services-offer {
        max-width: 1315px;
        margin: -60px auto 45px;
        &__headline-wrapper {
            padding: 46px 18px;
        }
        &__headline {
            font-size: 48px;
            line-height: 65.57px;
        }
    }
}
