@use 'colors';
@use 'rwd';

.services-banner {
    position: relative;
    background-color: colors.$lightGreyColor;
    &__container {
        display: flex;
        flex-direction: column;
    }
    &__button {
        max-width: 209px;
        padding: 16px !important;
    }
    &__content-wrapper {
        padding: 12px 16px;
    }
    &__headline {
        margin: 0;
        padding-top: 50px;
        padding-bottom: 24px;
        font-size: 28px;
        line-height: 38.25px;
        font-weight: 800;
        &--question-mark {
            font-size: 40px;
            line-height: 44px;
            color: colors.$secondaryThemeColor;
        }
    }
    &__description,
    &__question-summary {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        &--with-padding {
            padding: 12px 0;
            &:first-of-type {
                padding: 0 0 12px;
            }
        }
        &:last-of-type {
            padding-bottom: 24px;
        }
        
    }

    &__description--space {
        margin-bottom: 24px;
        display: block;
    }
    &__question-summary {
        font-weight: 700;
    }
    &__image {
        img {
            width: 100%;
        }
    }
}

@include rwd.tabletUp {
    .services-banner {
        &__content-wrapper {
            padding: 90px 45px 0px;
        }
    }
}

@include rwd.desktopUp {
    .services-banner {
        min-height: 1000px;
        &__container {
            flex-direction: row;
            max-width: 1230px;
            margin: 0 auto;
        }
        &__content-wrapper {
            width: 50%;
            padding: 140px 0 85px 30px;
        }
        &__headline {
            padding-bottom: 48px;
            font-size: 48px;
            line-height: 65.57px;
            &--question-mark {
                font-size: 64px;
                line-height: 66px;
            }
        }
        &__description,
        &__question-summary {
            font-size: 18px;
            line-height: 24.59px;
        }
        &__image {
            position: absolute;
            right: 0;
            max-width: 47.5%;
            height: 100%;
            img {
                height: 100%;
                object-fit: cover;
                object-position: center left;
            }
        }
    }
}
