<div class="services-offer">
    <div class="services-offer__headline-wrapper">
        <h2 class="services-offer__headline">
            Our Online Marketing <span class="services-offer__headline--marked">Services</span>
        </h2>
    </div>
    <div class="services-offer__social-media-wrapper">
        <div class="services-offer__social-media">
            <img loading="lazy" src="assets/icons/social-media/facebook.svg" alt="Facebook" /><span>Facebook</span>
        </div>
        <div class="services-offer__social-media">
            <img loading="lazy" src="assets/icons/social-media/instagram.svg" alt="Instagram" /><span>Instagram</span>
        </div>
        <div class="services-offer__social-media">
            <img loading="lazy" src="assets/icons/social-media/linkedin.svg" alt="LinkedIn" /><span>LinkedIn</span>
        </div>
        <div class="services-offer__social-media">
            <img loading="lazy" src="assets/icons/social-media/tiktok.svg" alt="Tiktok" /><span>Tiktok</span>
        </div>
        <div class="services-offer__social-media">
            <img loading="lazy" src="assets/icons/social-media/houzz.svg" alt="Houzz" /><span>Houzz</span>
        </div>
    </div>
    <div class="services-offer__services-wrapper">
        <h3 class="services-offer__services-headline">To each one of the platforms we provide:</h3>
        <div class="services-offer__services">
            <div class="services-offer__service">
                <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Social media marketing strategy</p>
            </div>
            <div class="services-offer__service">
                <img loading="lazy" loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Social Media Ads Management</p>
            </div>
            <div class="services-offer__service">
                <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Copywriting, editing social media posts</p>
            </div>
            <div class="services-offer__service">
                <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Competitor research & analysis</p>
            </div>
            <div class="services-offer__service">
                <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Creating visual content</p>
            </div>
            <div class="services-offer__service">
                <img loading="lazy" src="assets/icons/checkmark.svg" alt="checkmark" />
                <p>Community management</p>
            </div>
        </div>
    </div>
</div>
