@use 'colors';
@use 'rwd';

.services-offer {
    border-radius: 20px;
    &__social-media-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        padding: 32px 13px 29px;
    }
    &__social-media {
        display: flex;
        align-items: center;
        width: 145px;
        img {
            width: 36px;
            margin-right: 8px;
            vertical-align: middle;
        }
        span {
            font-size: 20px;
            line-height: 27px;
            font-weight: 800;
        }
    }
    &__services-wrapper {
        padding: 36px 10px 24px;
        border-radius: 0 0 20px 20px;
        background-color: colors.$mainThemeColor;
    }
    &__services-headline {
        padding: 0 10px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        color: colors.$lightGreyColor;
    }
    &__services {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 32px;
    }
    &__service {
        display: flex;
        align-items: center;
        img {
            width: 38px;
            margin-right: 16px;
            vertical-align: middle;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 500;
            color: colors.$lightGreyColor;
        }
    }
}

@include rwd.tabletUp {
    .services-offer {
        &__social-media-wrapper {
            gap: 50px;
            padding: 50px 20px;
        }
        &__services-wrapper {
            padding: 54px 27px;
        }
        &__services {
            gap: 24px 16px;
            padding-top: 48px;
        }
    }
}

@include rwd.desktopUp {
    .services-offer {
        border-radius: 20px;
        &__services-headline {
            padding-top: 77px;
        }
        &__social-media-wrapper {
            gap: 50px 60px;
            padding: 30px 52px 78px;
        }
        &__social-media {
            width: 300px;
            img {
                width: 100px;
                margin-right: 36px;
            }
            span {
                font-size: 32px;
                line-height: 44px;
            }
        }
        &__services-wrapper {
            padding: 72px 100px;
        }
        &__services-headline {
            font-size: 48px;
            line-height: 66px;
            padding: 0;
        }
        &__services {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 34px;
            padding-top: 80px;
        }
        &__service {
            width: 510px;
            p {
                font-size: 24px;
                line-height: 33px;
            }
        }
    }
}
