<header class="banner">
    <div class="banner__top-wrapper">
        <div class="banner__content">
            <img loading="lazy" src="assets/icons/about-us/hello.svg" alt="Hello there!" />
            <h2>Hello there!</h2>
        </div>
    </div>
    <div class="banner__bottom-wrapper">
        <p>
            We are an agency that specialize in helping home service companies grow by 
            managing their Google ads and building their online presence.
        </p>
    </div>
</header>
