@use 'colors';
@use 'rwd';

.banner {
    width: 100%;
    padding: 57px 0 18px;
    &__top-wrapper {
        height: 230px;
        padding: 39px 12px;
        background-color: colors.$mainThemeColor;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 81px;
            height: 89px;
        }
        h2 {
            width: 100%;
            font-size: 32px;
            line-height: 44px;
            font-weight: 800;
            text-align: center;
            color: #fff;
        }
    }
    &__bottom-wrapper {
        position: relative;
        margin: -110px 16px 0;
        padding: 24px 14px 36px;
        border-radius: 20px;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25), 0px 0px 10px rgba(0, 0, 0, 0.25);
        background-color: #fff;
        z-index: 1;
        p {
            font-size: 24px;
            line-height: 33px;
            font-weight: 800;
            text-align: center;
        }
    }
}

@include rwd.tabletUp {
    .banner {
        &__content {
            position: relative;
            justify-content: center;
            width: 80%;
            max-width: 1315px;
            margin: 0 auto;
            img {
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-65%, 25%);
                z-index: 2;
            }
        }
        &__bottom-wrapper {
            width: 80%;
            max-width: 1315px;
            margin: -110px auto 0;
        }
    }
}

@include rwd.desktopUp {
    .banner {
        padding: 113px 0 18px;
        &__top-wrapper {
            height: 430px;
            padding: 115px 12px 0;
        }
        &__content {
            img {
                width: 208px;
                height: 226px;
                transform: translate(-52.5%, 10%);
            }
            h2 {
                font-size: 64px;
                line-height: 87px;
            }
        }
        &__bottom-wrapper {
            position: relative;
            margin: -140px auto 0;
            padding: 66px 130px 70px;
            p {
                font-size: 32px;
                line-height: 44px;
            }
        }
    }
}
