@use 'colors';
@use 'mixins';
@use 'rwd';

.footer {
    background-color: colors.$mainThemeColor;
    background-image: url('~src/assets/images/homepage/footer-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    &__submit:hover {
        color: colors.$mainThemeColor;
        background-color: #fff !important;
    }
    &__newsletter {
        display: flex;
        flex-direction: column;
        max-width: 420px;
        margin: 0 auto;
        gap: 16px;
        padding: 35px 27px 0;
        h2 {
            font-size: 24px;
            line-height: 33px;
            font-weight: 800;
            color: #fff;
        }
        p {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            color: #fff;
        }
        input {
            margin-top: 8px;
            padding: 16px;
            font-weight: 500;
            color: colors.$mainThemeColor;
            border-radius: 8px;
            font-size: 16px;
            border: none;
            outline: none;
        }
        .error {
            outline: solid 2px colors.$errorColor;
            box-shadow: inset 0px 0px 4px 0px colors.$errorColor;
        }
    }
    &__input-error {
        margin-top: -14px;
        font-weight: 700;
        color: colors.$errorColor;
    }
    &__contact-info {
        display: flex;
        flex-direction: column;
        padding: 50px 27px 0;
    }
    &__social-media {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 38px;
        h3 {
            width: 100%;
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
            color: #fff;
            text-align: center;
        }
    }
    &__company-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        h2,
        p {
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
        h2 {
            font-weight: 800;
        }
        p {
            font-weight: 400;
        }
    }
    &__email-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        margin: 16px 0 40px;
        span,
        a {
            font-size: 16px;
            line-height: 22px;
            color: #fff;
        }
        a {
            font-weight: 800;
            text-decoration: none;
        }
        img {
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    &__copyright {
        @include mixins.center-all;
        width: 100%;
        height: 60px;
        background: colors.$secondaryThemeColor;
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }
}

@include rwd.tabletUp {
    .footer {
        background-image: url('~src/assets/images/homepage/footer-desktop.png');
    }
}

@include rwd.desktopUp {
    .footer {
        &__wrapper {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }
        &__newsletter {
            max-width: 480px;
            width: 50%;
            margin-left: auto;
            margin-right: 0;
            padding: 60px 27px 49px;
            p {
                font-size: 20px;
                line-height: 27px;
            }
        }
        &__contact-info {
            width: 50%;
            padding: 56px 27px 0;
        }
        &__social-media {
            justify-content: flex-start;
            margin-bottom: 24px;
            h3 {
                width: auto;
                font-size: 20px;
                line-height: 27px;
            }
        }
        &__company-info {
            align-items: flex-start;
            gap: 10px;
            h2 {
                font-size: 24px;
                line-height: 33px;
            }
            p {
                font-size: 20px;
                line-height: 27px;
            }
        }
        &__email-info {
            flex-direction: row;
            gap: 8px;
            margin: 32px 0 58px;
            span,
            a {
                font-size: 20px;
                line-height: 27px;
            }
            a {
                text-decoration: underline;
            }
        }
        &__copyright {
            font-size: 20px;
            line-height: 27px;
        }
    }
}
