<footer pwdFadeWhenAvailable class="footer">
    <div class="footer__wrapper">
        <form class="footer__newsletter" (ngSubmit)="readyToSignUpToNewsletter()">
            <h2>Stay updated</h2>
            <p>Stay updated with our marketing tips and how to make your company grow online</p>
            <input
                [class.error]="email.touched && email.invalid"
                placeholder="Your email"
                type="text"
                [formControl]="email"
            />
            <span class="footer__input-error" *ngIf="email.touched && email.invalid"
                >{{ email.errors?.required ? 'Required' : 'Invalid' }} field</span
            >
            <button class="primary-btn footer__submit" type="submit">Submit</button>
        </form>
        <div class="footer__contact-info">
            <div class="footer__social-media">
                <h3>Find us!</h3>
                <div class="social-icon">
                    <a href="https://www.instagram.com/kaihokmedia/" target="_blank" rel="nofollow, noindex">
                        <img loading="lazy" src="assets/icons/insta.png" alt="Instagram" />
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.facebook.com/Kaihok-100704749273567" target="_blank" rel="nofollow, noindex">
                        <img loading="lazy" src="assets/icons/fb.png" alt="Facebook" />
                    </a>
                </div>
                <div class="social-icon">
                    <a href="https://www.linkedin.com/company/kaihok/" target="_blank" rel="nofollow, noindex">
                        <img loading="lazy" src="assets/icons/linkedin.png" alt="Linkedin" />
                    </a>
                </div>
            </div>
            <div class="footer__company-info">
                <h2>Kaihok</h2>
                <p>United Kingdom</p>
                <p>London EC1V 2NX, United Kingdom</p>
            </div>
            <div class="footer__email-info">
                <div class="footer__email-icon">
                    <img loading="lazy" src="assets/icons/send.png" alt="send email" />
                    <span>Send us an email:</span>
                </div>
                <a href="mailto:info@kaihok.com">info@kaihok.com</a>
            </div>
        </div>
    </div>
    <div class="footer__copyright">© Kaihok, {{ CURRENT_DATE | date: 'YYYY' }}</div>
</footer>
