<section class="about-us">
    <pwd-banner-view></pwd-banner-view>
    <pwd-about-kaihok-view [deviceType]="deviceType"></pwd-about-kaihok-view>
    <pwd-how-we-work-view></pwd-how-we-work-view>
    <pwd-reusable-contact-form [deviceType]="deviceType"></pwd-reusable-contact-form>
</section>
