<div class="why-provide">
    <h2 class="why-provide__headline">Why do we provide design services?</h2>
    <div class="why-provide__content-wrapper">
        <div class="why-provide__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/design/why-provide-services'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Why do we provide design services"
            />
        </div>
        <div class="why-provide__content">
            <p>
                In Kaihok we know that home service companies lack of having website, while website 
                is like a living breathing representation of your business.
            </p>
            <p>It's the ultimate sales team, working for you around the clock.</p>
            <p class="bold">Thats why we come to rescue!</p>
            <p>
                Since we provide marketing services to home service companies, we decided to go 
                full-in and support your company even in design field.
            </p>
            <p>
                We will take care of your website to have the best representation to your customers 
                and convert your incoming leads.
            </p>
        </div>
    </div>
</div>
