@use 'colors';
@use 'rwd';

.why-provide {
    padding: 5px 0 35px;
    &__headline {
        max-width: 310px;
        margin: 0 auto;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__image {
        max-width: 500px;
        margin: 24px 44px;
        img {
            width: 100%;
        }
    }
    &__content {
        padding: 0 16px;
        p {
            font-size: 16px;
            line-height: 25px;
            font-weight: 400;
        }
        .bold {
            font-weight: 700;
        }
    }
}

@include rwd.tabletUp {
    .why-provide {
        padding: 30px 0 45px;
        &__headline {
            max-width: 600px;
        }
        &__content-wrapper {
            display: flex;
            margin: 20px 0;
        }
        &__image {
            width: 50%;
            order: 1;
            padding: 0 16px;
        }
        &__content {
            width: 46%;
            order: 0;
        }
    }
}

@include rwd.desktopUp {
    .why-provide {
        padding: 45px 0 60px;
        &__headline {
            max-width: 100%;
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__content-wrapper {
            justify-content: space-between;
            max-width: 1300px;
            margin: 45px auto;
        }
        &__content {
            align-self: center;
            p {
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
}
