<div pwdFadeWhenAvailable class="professions-title" id="professions">
    <h2>Who do we work with?</h2>
    <p>*include but not limited to:</p>
</div>

<section pwdFadeWhenAvailable class="professions">
    <div class="profession-box">
        <div class="container">
            <div class="profession-column">
                <ul class="profession-column-list">
                    <li class="profession-column-list-elem">
                        <div class="dot dark"></div>
                        Home Builders
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot yellow"></div>
                        Construction Companies
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot dark"></div>
                        Cleaning Companies
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot yellow"></div>
                        Interior Designers
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot dark"></div>
                        Moving Companies
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot yellow"></div>
                        Flooring Companies
                    </li>
                    <li class="profession-column-list-elem">
                        <div class="dot dark"></div>
                        Carpenters
                    </li>
                </ul>
            </div>

            <div class="buildings">
                <img
                    loading="lazy"
                    [src]="
                        'assets/images/homepage/professions/buildings'
                            | responsiveImage
                                : deviceType
                                : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                            | webpSupport: 'png'
                    "
                    alt="buildings"
                />
            </div>

            <div class="profession-column">
                <ul class="profession-column-list reverse">
                    <li class="profession-column-list-elem">
                        Contractors
                        <div class="dot yellow"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        Gardeners
                        <div class="dot dark"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        Plumbers
                        <div class="dot yellow"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        Electricians
                        <div class="dot dark"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        Painters
                        <div class="dot yellow"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        Roofers
                        <div class="dot dark"></div>
                    </li>
                    <li class="profession-column-list-elem">
                        HVAC
                        <div class="dot yellow"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
