@use 'colors';
@use 'mixins';
@use 'rwd';

.professions-title {
    @include mixins.center-lvl;
    flex-direction: column;
    padding: 30px 16px 44px 16px;

    h2 {
        font-weight: 800;
        font-size: 25px;
        text-align: center;
        display: inline-block;
        margin-bottom: 8px;
    }

    p {
        text-align: center;
        font-size: 16px;
    }
}

.professions {
    @include mixins.center-ver;
    flex-direction: column;
    width: 100%;
    padding: 34px 16px;
    color: colors.$secondaryThemeColor;
}

.buildings {
    max-width: 291px;
    img {
        width: 291px;
        height: 262px;
    }
}

.profession-column {
    &-list {
        list-style: none;

        &-elem {
            @include mixins.center-ver;
            padding-bottom: 30px;
            gap: 10px;
            font-size: 20px;
            font-weight: 800;

            .dot {
                height: 28px;
                width: 28px;
                border-radius: 50%;
                box-shadow: inset -6px -6px 20px -13px rgba(66, 68, 90, 1);
            }

            .yellow {
                background: colors.$secondaryThemeColor;
            }

            .dark {
                background: colors.$mainThemeColor;
            }
        }
    }
    .reverse {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 30px;
    }
}

// @include rwd.tabletUp {
//     .professions {
//background-image: url("~src/assets/photos/buildings-desktop.png");
//     }
// }

@include rwd.desktopUp {
    .professions {
        padding: 40px 16px;
    }

    .professions-title {
        padding: 70px 0;
        h2 {
            font-size: 48px;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        width: 99%;
        margin: 0 auto;
    }

    .buildings {
        max-width: 458px;
        img {
            width: 458px;
            height: 413px;
        }
    }

    .profession-column {
        &-list {
            &-elem {
                font-size: 24px;
                white-space: nowrap;
            }
        }
        .reverse {
            margin-top: 165px;
        }
    }
}

@include rwd.customUp(1200px) {
    .buildings {
        max-width: 661px;
        img {
            width: 661px;
            height: 596px;
        }
    }
}
