<section pwdFadeWhenAvailable class="why" id="why-us">
    <div class="why-box">
        <div class="title-box">
            <h2>Why Us?</h2>
            <p>Why would you even choose our services?</p>
        </div>
        <div class="card-box">
            <div class="card-column">
                <div class="card card-white">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/building-blocks' | webpSupport: 'png'"
                            alt="building blocks"
                        />
                    </div>
                    <span class="card-title"> Let us build your next wall! </span>
                    <p class="card-description">
                        But this time... it will be online wall, showing future customers how strong your company is
                        built in every aspect.
                    </p>
                </div>

                <div class="card card-yellow">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/treasure' | webpSupport: 'png'"
                            alt="treasure"
                        />
                    </div>
                    <span class="card-title"> Let us dig! </span>
                    <p class="card-description">
                        This time we will do the dirty job ! We will optimize your campaigns, find your keywords, 
                        manage your campaigns and even... build high-converting landing page.
                    </p>
                </div>
            </div>

            <div class="card-column">
                <div class="card card-yellow">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/searching' | webpSupport: 'png'"
                            alt="searching"
                        />
                    </div>
                    <span class="card-title"> They have to hear about your business! </span>
                    <p class="card-description">
                        We will take care of spreading and maintaining a good word about your company in Digital World.
                    </p>
                </div>

                <div class="card card-white">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/order_delivered' | webpSupport: 'png'"
                            alt="order delivered"
                        />
                    </div>
                    <span class="card-title"> Every tool in one box! </span>
                    <p class="card-description">
                        You dont need to hire 100's of employees to do online marketing. We are here ! 1 agency 1 box -
                        plenty of tools inside to use ! Let your company use these tools.
                    </p>
                </div>
            </div>

            <div class="card-column">
                <div class="card card-white">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/clean_up' | webpSupport: 'png'"
                            alt="clean up"
                        />
                    </div>
                    <span class="card-title"> Wipe out your competition! </span>
                    <p class="card-description">
                        Wipe out your competition by being step ahead of them with your excellent online presence
                        supported by Kaihok services.
                    </p>
                </div>

                <div class="card card-yellow">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/high_five' | webpSupport: 'png'"
                            alt="high five"
                        />
                    </div>
                    <span class="card-title"> Lets work together towards success! </span>
                    <p class="card-description">
                        If your company is getting good results from our services, we keep growing and keep delivering
                        great results for you ! It is win - win situation !
                    </p>
                </div>
            </div>

            <div class="card-column">
                <div class="card card-yellow">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/smiley_face' | webpSupport: 'png'"
                            alt="smiley face"
                        />
                    </div>
                    <span class="card-title"> Happy Faces! </span>
                    <p class="card-description">
                        While working with us, you will get a lot of new clients thanks to online marketing, and your
                        face will look exactly like his !
                    </p>
                </div>

                <div class="card card-white">
                    <div class="card-icon">
                        <img
                            loading="lazy"
                            [src]="'assets/images/homepage/why-us/wallet' | webpSupport: 'png'"
                            alt="wallet"
                        />
                    </div>
                    <span class="card-title"> Go get that money ! </span>
                    <p class="card-description">
                        New clients/orders equals money. Use Digital Marketing as something that will bring you new
                        clients/leads and bigger recognizability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
