@use 'colors';
@use 'mixins';
@use 'rwd';

.why {
    background: colors.$mainThemeColor;
    padding: 40px 0;
}

.title-box {
    @include mixins.center-ver;
    flex-direction: column;
    padding: 0 16px 40px 16px;

    h2 {
        font-weight: 800;
        font-size: 28px;
        padding-bottom: 16px;
        line-height: 1;
        color: #fff;
    }

    p {
        font-size: 14px;
        color: #fff;
    }
}

.card-box {
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    padding: 0 16px 16px 16px;
    gap: 16px;

    /* width */
    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.card-column {
    display: flex;
    gap: 16px;
}

.card {
    width: 290px;
    height: 380px;
    @include mixins.center-all;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
    border-radius: 20px;

    &-icon {
        height: 110px;

        img {
            height: 100%;
        }
    }

    &-title {
        font-weight: 800;
        font-size: 20px;
        color: colors.$mainThemeColor;
        text-align: center;
    }

    &-description {
        font-size: 16px;
        text-align: center;
    }
}

.card-white {
    background: #f6f6f6;
}

.card-yellow {
    background: #fbf3db;
}

@include rwd.desktopUp {
    .title-box {
        padding: 0 16px 80px 16px;

        h2 {
            font-size: 48px;
        }

        p {
            font-size: 18px;
        }
    }

    .why-box {
        max-width: 1280px;
        width: 95%;
        margin: 0 auto;
    }

    .card-column {
        display: flex;
        flex-direction: column;
        gap: 40px;

        &:nth-child(2),
        &:nth-child(4) {
            margin-top: 40px;
        }
    }

    .card-box {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        overflow-x: unset;
        padding: 0;
    }

    .card {
        animation: scaleDown 0.4s;
        &-title {
            font-size: 24px;
        }

        &-description {
            font-size: 18px;
        }
        &:hover {
            transform: scale(1.1);
            animation: scaleUp 0.4s;
        }
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
