@use 'colors';

@use 'reusable-styles/services-banner.scss';
@use 'reusable-styles/services-offer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: colors.$mainThemeColor;
    font-family: 'Manrope', sans-serif;
}

img {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

.primary-btn {
    display: block;
    min-width: 209px;
    padding: 16px 32px;
    border: 0;
    border-radius: 30px;
    font-size: 16px;
    line-height: 21.86px;
    font-weight: 800;
    background-color: colors.$secondaryThemeColor;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in;
    &:hover {
        background-color: colors.$mainThemeColor !important;
    }
}
