<div class="services-banner">
    <div class="services-banner__container">
        <div class="services-banner__content-wrapper">
            <pwd-services-navigation-menu
                [currentRoute]="currentRoute"
                (routeChangeEmitter)="routeChangeListener($event)"
            ></pwd-services-navigation-menu>
            <h1 class="services-banner__headline">
                Why Home Service Companies need Online Marketing<span
                    class="services-banner__headline--question-mark"
                    >?</span
                >
            </h1>
            <p class="services-banner__description services-banner__description--with-padding">
                Last decade have seen a rise in online marketing usage and effectiveness. We know that home service 
                industry is competetive, that is why using digital marketing helps you expand your brand recognition 
                and leads.
            </p>
            <p class="services-banner__description services-banner__description--with-padding">
                Digital marketing means targeted marketing, so having your brand digitally active means that if you 
                advertise through search engine, you can easily find customers that are looking for your services.
            </p>
            <p class="services-banner__question-summary services-banner__question-summary--with-padding">
                Online marketing will definetely help you reach potential clients, are you ready to expand your bussines?
            </p>
            <a class="primary-btn services-banner__button" routerLink="../../contact">Send Us a message</a>
        </div>
        <div class="services-banner__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/light-bulb'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt=""
            />
        </div>
    </div>
</div>
