$mainThemeColor: #32312f;
$secondaryThemeColor: #e0aa00;
$lightGreyColor: #f6f6f6;
$greyColor: #e5e5e5;
$errorColor: #e62e2e;

$lightGreenColor: #d1fde5;
$darkGreenColor: #21a75e;
$lightRedColor: #ffd7d7;
$darkRedColor: #d62e2e;
