@mixin center-ver {
    display: flex;
    align-items: center;
}

@mixin center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-lvl {
    display: flex;
    justify-content: center;
}
