$tabletUpBreakpoint: 768px;
$desktopUpBreakpoint: 1024px;

@mixin tabletUp {
    @media screen and (min-width: $tabletUpBreakpoint) {
        @content;
    }
}

@mixin desktopUp {
    @media screen and (min-width: $desktopUpBreakpoint) {
        @content;
    }
}

@mixin customUp($minWidth) {
    @media screen and (min-width: $minWidth) {
        @content;
    }
}
