@use 'colors';

.snackbar {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    max-width: 500px;
    padding: 16px 32px;
    border-radius: 20px;
    box-shadow: 0px 4px 2px rgb(0 0 0 / 25%), 0px 0px 10px rgb(0 0 0 / 25%);
    z-index: 999;
    &.success {
        background-color: colors.$lightGreenColor;
        &__text {
            color: colors.$darkGreenColor;
        }
    }
    &.danger {
        background-color: colors.$lightRedColor;
        &__text {
            color: colors.$darkRedColor;
        }
    }
    &__text {
        margin: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }
}
