<section class="social-media-marketing">
    <pwd-banner-view [deviceType]="deviceType"></pwd-banner-view>
    <pwd-services-view></pwd-services-view>
    <pwd-advantages-view></pwd-advantages-view>
    <pwd-reusable-contact-form [deviceType]="deviceType"></pwd-reusable-contact-form>
</section>
