<div class="om-benefits">
    <h2 class="om-benefits__headline">Benefits of Online Marketing</h2>
    <div class="om-benefits__card">
        <div class="om-benefits__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/benefits/cost-effective'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Cost-effective benefit"
            />
        </div>
        <div class="om-benefits__content benefit">
            <h3 class="benefit__headline">1. Cost-effective</h3>
            <h4 class="benefit__subheadline">Online marketing is cheaper than traditional marketing methods !</h4>
            <p class="benefit__description">
                Printed-Ads / Bilboards / TV Ads / Radio Spots were really effective way of marketing your business in
                early marketing days, in digital age that we live in now, they certainly work but have a expensive price
                tag, definetely more expensive than online marketing ! Ofcourse, online marketing can be pricey aswell
                but prices vary based on what you’re doing but Ad spend tends to be lower than other forms of marketing.
                It is really easy to understand basics of online marketing but if you own a business in most cases you
                would hire professional agency to handle that, that can be pricey but this takes us to our next
                point....
            </p>
        </div>
    </div>

    <div class="om-benefits__card">
        <div class="om-benefits__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/benefits/higher-roi'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Higher ROI benefit"
            />
        </div>
        <div class="om-benefits__content benefit">
            <h3 class="benefit__headline">2. Online Marketing has a higher ROI* than other marketing methods</h3>
            <h4 class="benefit__subheadline">*ROI = Return on Investment</h4>
            <p class="benefit__description">
                If you choose to do online marketing yourself or hire an agency to handle marketing your business using
                online tools, you can be sure that it will be worth it ! It highly depends on agency that you choose,
                but in most cases well-managed Online Marketing has really high ROI. Why?... We're glad you asked !
                Targeting is the key to high ROI If you are targeting everyone, you're targeting no one at the same
                time. Playing ads on TV or Radio Station is a good example, you dont know who is the recipient on the
                other side ! With Online Marketing you can target customers who are already interested in and looking
                for your services. Instead of targeting everybody who can change station/TV channel at any time and just
                ignore your Ad, you target customers who are likely to become yours due to their interest in such
                services.
            </p>
        </div>
    </div>

    <div class="om-benefits__card">
        <div class="om-benefits__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/benefits/digital-world'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Digital world benefit"
            />
        </div>
        <div class="om-benefits__content benefit">
            <h3 class="benefit__headline">3. Digital World... that's where the customer is hiding</h3>
            <p class="benefit__description">
                Customers are already sitting comfy in digital world, you just have to reach them and make them yours.
                We live in digital age, most of us use internet on daily basis, which means that you have potential to
                reach a lot of people because internet is where people spend their time and if you want to have new
                customers, you should be where the people are ! Even if you have local business, online marketing can
                help you in many ways. It will help your potential clients find your location, list of services and even
                your webiste which when well-developed can keep the customer and make him comeback to a website for an
                eye-catching content.
            </p>
        </div>
    </div>

    <div class="om-benefits__card">
        <div class="om-benefits__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/benefits/monitored-results'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Monitored results benefit"
            />
        </div>
        <div class="om-benefits__content benefit">
            <h3 class="benefit__headline">4. Easily monitored results</h3>
            <p class="benefit__description">
                When using old-school marketing techniques, you don't really know where the customer came from, you
                either have to ask them "How did you find out about us" or just move on and live without that
                information. Digital marketing has that simplicity when it comes to monitoring results, when using
                softwares and other analytic tools, you can easily track customer's activity / home page visits / opened
                emails rate / ads performance etc. This tells you which online marketing methods are most effective,
                allowing you to refine and improve your strategy
            </p>
        </div>
    </div>

    <div class="om-benefits__card">
        <div class="om-benefits__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/online-marketing/benefits/interactivity'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt="Interactivity benefit"
            />
        </div>
        <div class="om-benefits__content benefit">
            <h3 class="benefit__headline">5. Interactivity</h3>
            <p class="benefit__description">
                Every customer that gets to see your posts/activity, also gets to communicate with you through many ways
                such as; social media, reviews, messages, comments etc. By interacting with them via mentioned above
                ways, you show them that you care about their opinion and you make them feel respected and involved in
                the community that you build.
            </p>
        </div>
    </div>
</div>
