@use 'colors';
@use 'rwd';

.om-benefits {
    padding-top: 4px;
    padding-bottom: 38px;
    &__headline {
        max-width: 310px;
        margin: 0 auto 24px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__card {
        padding: 24px 16px;
    }
    &__image {
        margin: 0 60px;
        img {
            display: block;
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
        }
    }
    &__content {
        padding-top: 24px;
        padding-left: 0;
    }
}

.benefit {
    &__headline {
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
    }
    &__subheadline {
        margin-top: 8px;
        font-size: 16px;
        line-height: 22px;
        color: colors.$secondaryThemeColor;
    }
    &__description {
        margin-top: 24px;
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
    }
}

@include rwd.tabletUp {
    .om-benefits {
        padding-top: 10px;
        padding-bottom: 50px;
        &__headline {
            max-width: 100%;
            margin: 0 auto 50px;
        }
        &__card {
            padding: 36px 32px;
        }
        &__content {
            padding-top: 36px;
        }
    }
}

@include rwd.desktopUp {
    .om-benefits {
        padding-top: 24px;
        padding-bottom: 110px;
        &__headline {
            margin: 0 auto 100px;
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__card {
            display: flex;
            flex-direction: row;
            max-width: 1250px;
            margin: 0 auto;
            padding: 0;
            gap: 50px 100px;
            &:nth-of-type(2n) {
                flex-direction: row-reverse;
            }
        }
        &__image {
            align-self: center;
            width: 50%;
            margin: 0;
        }
        &__content {
            align-self: center;
            width: 50%;
            padding-top: 0;
        }
    }

    .benefit {
        &__headline {
            font-size: 32px;
            line-height: 44px;
        }
        &__subheadline {
            font-size: 18px;
            line-height: 25px;
        }
        &__description {
            font-size: 18px;
        }
    }
}
