<header class="services-banner">
    <div class="services-banner__container">
        <div class="services-banner__content-wrapper">
            <pwd-services-navigation-menu
                [currentRoute]="currentRoute"
                (routeChangeEmitter)="routeChangeListener($event)"
            ></pwd-services-navigation-menu>
            <h1 class="services-banner__headline">
                What is Social Media Marketing about<span class="services-banner__headline--question-mark">?</span>
            </h1>
            <p class="services-banner__description services-banner__description--with-padding">
                Social Media Marketing is a way to attract the attention of internet users and generate internet traffic
                using social networking sites. Social networks such as Facebook, Twitter, LinkedIn, Instagram, YouTube
                and blogs are used to promote the brand.
            </p>
            <p class="services-banner__description services-banner__description--with-padding">
                Recently, social media has been playing an increasingly important role in the marketing activities of
                many companies due to its wide spread. Social media marketing enables remote access to the desired
                target group, and additionally reduces the costs of marketing activities.
            </p>
            <p class="services-banner__description services-banner__description--with-padding">
                Social media marketing has specially developed data analysis tools that allow marketers to track the
                success of their efforts.
            </p>
            <a class="primary-btn services-banner__button" routerLink="../../contact">Send Us a message</a>
        </div>
        <div class="services-banner__image">
            <img
                loading="lazy"
                [src]="
                    'assets/images/social-media-marketing/social-media-marketing'
                        | responsiveImage
                            : deviceType
                            : [devicesList.MOBILE, devicesList.TABLET_UP, devicesList.DESKTOP_UP]
                        | webpSupport: 'png'
                "
                alt=""
            />
        </div>
    </div>
</header>
