<section class="advantages">
    <h2 class="advantages__headline">Advantages of having Social Media</h2>
    <div class="advantages__wrapper">
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/audience' | webpSupport: 'png'"
                    alt="Huge audience"
                    class="audience"
                />
                <h3><span>1</span>Huge audience to reach out to</h3>
            </div>
            <p class="advantages__content">
                There are bilions of people using social media on monthly basis. Thats a great opportunity to grab some
                leads for your business.
            </p>
        </div>
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/paid-services' | webpSupport: 'png'"
                    alt="Advertising services"
                    class="paid-services"
                />
                <h3><span>2</span>Access to paid advertising services</h3>
            </div>
            <p class="advantages__content">
                Paid advertisements offer your business the opportunity to connect with interested leads that haven’t
                found your business yet. Social media platforms allow you to custom your ads to pop-up for people who
                are looking for your products and services.
            </p>
        </div>
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/brand-names' | webpSupport: 'png'"
                    alt="Brand names"
                    class="brand-names"
                />
                <h3><span>3</span>Chance to build and expand your brand names</h3>
            </div>
            <p class="advantages__content">
                You can easily take advantage of social media power and build your brand and loyal customers by posting
                free content and engaging with your audience.
            </p>
        </div>
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/spiders-web' | webpSupport: 'png'"
                    alt="Spider's web"
                    class="spiders-web"
                />
                <h3><span>4</span>Creating a big spider's web</h3>
            </div>
            <p class="advantages__content">
                By creating a spider's web, we mean that by growing your social media profiles you can drive traffic to
                your website and vice-versa. This works with every social media platform, they all connect and grow
                together if well-organised!
            </p>
        </div>
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/totally-free' | webpSupport: 'png'"
                    alt="Totally free"
                    class="totally-free"
                />
                <h3><span>5</span>It is totally free!</h3>
            </div>
            <p class="advantages__content">
                Creating social media account is free, so why not having it and taking advantage of it. The only
                investment you have to make is the form of time.
            </p>
        </div>
        <div class="advantages__advantage">
            <div class="advantages__title">
                <img
                    loading="lazy"
                    [src]="'assets/images/social-media-marketing/advantages/information' | webpSupport: 'png'"
                    alt="Information and updates"
                    class="information"
                />
                <h3><span>6</span>Information and updates</h3>
            </div>
            <p class="advantages__content">
                Your company can provide valuable information on social media profiles as well as any updates about
                opening hours/discounts etc.
            </p>
        </div>
    </div>
</section>
