@use 'colors';
@use 'rwd';

.advantages {
    padding: 20px 0 30px;
    &__headline {
        max-width: 310px;
        margin: 0 auto 24px;
        font-size: 28px;
        line-height: 38px;
        font-weight: 800;
        text-align: center;
        &::after {
            content: '';
            display: block;
            width: 91px;
            height: 4px;
            margin: 16px auto 0;
            background-color: colors.$secondaryThemeColor;
        }
    }
    &__wrapper {
        padding: 32px 16px 0;
    }
    &__advantage {
        max-width: 1100px;
        width: 100%;
        height: 450px;
        margin: 0 auto 16px;
        padding: 30px 16px 16px;
        border-radius: 20px;
        background-color: colors.$lightGreyColor;
        &:last-of-type {
            margin-bottom: 0;
        }
        &:nth-of-type(2n) {
            h3 span {
                color: colors.$secondaryThemeColor;
            }
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        img {
            &.audience {
                width: 152px;
                height: 145px;
            }
            &.paid-services {
                width: 225px;
                height: 107px;
            }
            &.brand-names {
                width: 166px;
                height: 121px;
            }
            &.spiders-web {
                width: 176px;
                height: 131px;
            }
            &.totally-free {
                width: 191px;
                height: 124px;
            }
            &.information {
                width: 164px;
                height: 135px;
            }
        }
        h3 {
            display: flex;
            align-items: center;
            gap: 16px;
            font-size: 24px;
            line-height: 33px;
            font-weight: 700;
        }
        span {
            font-size: 80px;
            line-height: 109px;
        }
    }
    &__content {
        padding-top: 8px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
    }
}

@include rwd.tabletUp {
    .advantages {
        padding: 40px 0 50px;
        &__headline {
            max-width: 100%;
            margin: 0 auto 50px;
        }
        &__wrapper {
            padding: 22px 30px 0;
        }
        &__advantage {
            height: 275px;
            margin: 0 auto 24px;
            padding: 40px 30px 16px;
        }
        &__title {
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 20px;
        }
        &__content {
            padding-top: 12px;
        }
    }
}

@include rwd.desktopUp {
    .advantages {
        padding: 45px 0 100px;
        &__headline {
            font-size: 48px;
            line-height: 66px;
            &::after {
                width: 155px;
                height: 10px;
                margin: 24px auto 0;
            }
        }
        &__wrapper {
            padding: 22px 30px 0;
        }
        &__advantage {
            height: 390px;
            margin: 0 auto 48px;
            padding: 80px 69px 16px;
        }
        &__title {
            h3 {
                font-size: 36px;
                line-height: 49px;
            }
            span {
                font-size: 100px;
                line-height: 137px;
            }
        }
        &__content {
            padding-top: 16px;
            font-size: 24px;
            line-height: 33px;
        }
    }
}
